
@{
    ViewData["Title"] = "About";
}

<div class="card">
    <h1 class="card-header text-center bg-dark text-white">About author</h1>
    <div class="card-body">
        <div class="container">
            <h2 class="card-title">Jheng-Hong Wang</h2>

            <h4>Introduction:</h4>
            <div class="card-text container">
                <p>
                    Jheng-Hong is an engineer.
                </p>
            </div>

            <h4 class="card-text">
                E-mail:
                <a href="mailto: workspace2110@gmail.com" class="card-link">workspace2110@gmail.com</a>
            </h4>
        </div>
    </div>
    <div class="card-footer bg-dark text-white"></div>
</div>

